<!DOCTYPE html>
<html>
<head>
  <title>Bike Calendar</title>
  <link rel='stylesheet' href='fullcalendar/dist/fullcalendar.css' />
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src='moment/moment.js'></script>
  <script src='fullcalendar/dist/fullcalendar.js'></script>
</head>
<body>
  <h1>Events Calendar</h1>
  <div id='calendar'></div>
  <script src="main.js"></script>
</body>
</html>