.modal-container {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.modal-content {
  z-index: 2;
  position: relative;
  top: 33%;
  background-color: white;
  height: 50%;
  width: 40%;
  margin: 0 30%;
}